<!--NAVBAR-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bloc Chat</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container row" style="padding-top: 51px; height: 100vh">
    <!--Main Section-->
    <section class="col-md-6" style="border-right:grey dotted; min-height:100%">  
        <h1>Room Page<h1>

        <div ng-repeat="thisRoom in roomctrl.theRooms">
            <a ng-click="roomctrl.makeCurrentRoom(thisRoom)">
              {{ thisRoom.$value }}
            </a>
        </div>
        
        <div ng-controller="ModalCtrl as modalctrl">
            <button type="button" class="btn btn-default" ng-click="modalctrl.open()">
              Add Room
            </button>
        </div>
    </section>
    
    <!--Side Section-->
    <section class="col-md-6" style="padding-left: 1rem">
        <div>
            <h1>{{ roomctrl.currentRoomName }} </h1>
            <table ng-repeat="thisMessage in roomctrl.messages" style="border: silver solid">
              <tr>
                <td>{{ thisMessage.content }}</td>
              </tr>
            </table>
            <!--<textarea name="message" id="message" cols="30" rows="10"></textarea>-->
        </div>
    </section>
</div>